body {

  margin: 0; /* eliminates margin spacing on body so that the footer color is able to fill the window */

  /* Sets the background for the entire page to a light yellow color */
  font-family: 'Lobster Two', cursive;
  background-color: #2f3130;
}

/* begin header styling */

.primary-header {
 /* This will center the main heading and the main image */

}

.main-heading {
  text-align: center;
  font-size: 80px;

  color: white;

}

.town-preview {

  width: 650px;

}
.category-heading {

  color: white;

  font-size: 50px;

}

.store-list {

  padding-left: 30px;

  color: white; /* this will make sure the bullet points turn dark yellow! */

}

.store-name {

  margin-bottom: 10px; /* adds a bit of space at the bottom of each list item */

}

.store-link {

  color: white;

  font-size: 30px;

}

.building {

  width: 500px;

}

.store-details { /* This is the div that contains the text */

  margin-left: 30px;

}

.store-section {

  display: flex; /* Makes the content witin this element flexible */

  display: -webkit-flex; /* vendor prefix */

  margin: 50px auto; /* Adds spacing at top of all sections and then centers them */

  width: 450px; /* approximate width of each section */

}

.primary-footer {

  padding: 1px;

  background-color: #2f3130;

  text-align: center;

}

.main-link{

  text-align: center;

  color: white;

  font-size: 40px;

}
